// Color palette
$colors: (
	'red': #ec0d05,
	'orange': #d35609,
	'yellow': #f4c631,
	'green': #008e0c,
	
	'blue': #0f50b1,
	'purple': #a92b9e,
	'pink': #ff9292,
	'brown': #7f3508,
	'gray': #585858,
	'black': #222222,
	'white': #dddddd,
);

// Background reference colors
$light: #ffffff;
$dark: #000000;

// Theme roles
$element-roles: (
	'success': 'green',
	'warning': 'yellow',
	'danger': 'red',
	'text': 'gray',
	'title': 'blue',
);
$background-roles: (
	'primary': 'blue',
	'secondary': 'white',
	'red': 'red',
	'info': 'blue',
	'bg': 'black',
);

// Shades
$shades: 100, 200, 300, 400, 500, 600, 700, 800, 900;
