@use 'sass:math';
@use 'sass:map';
@use '../abstracts/colors' as *;

@function clamp-value($value, $min, $max) {
  @return if($value < $min, $min, if($value > $max, $max, $value));
}

:root {
  @each $name, $base in $colors {
    @each $shade in $shades {
      $light-mix: clamp-value(90 - (($shade - 100) / 400) * 60, 0, 100);
      $light-color: mix($light, $base, $light-mix);
      --#{$name}-light-#{$shade}: #{$light-color};

      $dark-mix: clamp-value((($shade - 500) / 400) * 50 + 10, 0, 100);
      $dark-color: mix($dark, $base, $dark-mix);
      --#{$name}-dark-#{$shade}: #{$dark-color};
    }
  }
}

[data-theme='light'] {
  @each $role, $color-name in $background-roles {
    @each $shade in $shades {
      $reverse-light-mix: clamp-value(20 + (($shade - 100) / 800) * 80, 0, 100);
      $color: mix($light, map.get($colors, $color-name), $reverse-light-mix);
      --#{$role}-#{$shade}: #{$color};
    }
  }

  @each $role, $color-name in $element-roles {
    @each $shade in $shades {
      --#{$role}-#{$shade}: var(--#{$color-name}-dark-#{$shade});
    }
  }
}

[data-theme='dark'] {
  @each $role, $color-name in $background-roles {
    @each $shade in $shades {
      --#{$role}-#{$shade}: var(--#{$color-name}-dark-#{$shade});
    }
  }

  @each $role, $color-name in $element-roles {
    @each $shade in $shades {
      $reverse-light-mix: clamp-value(20 + (($shade - 100) / 800) * 80, 0, 100);
      $color: mix($light, map.get($colors, $color-name), $reverse-light-mix);
      --#{$role}-#{$shade}: #{$color};
    }
  }
}
