@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use './theme-variables' as *;

* {
	font-family: 'yekan-regular', sans-serif;
	transition: all 0.2s ease;
	margin: space(0);
	padding: space(0);
}

html,
body {
	background-attachment: fixed;
	background-image: linear-gradient(0deg, var(--primary-600), var(--bg-900));
	height: 100vh;
	transition: none;
	direction: rtl;
}

h1 {
	font-size: $font-size-xxxl;
	font-weight: $font-weight-bold;
	line-height: space(30);
}

h2 {
	font-size: $font-size-xxl;
	font-weight: $font-weight-bold;
	line-height: space(28);
}

h3 {
	font-size: $font-size-xl;
	font-weight: $font-weight-bold;
	line-height: space(24);
}

h4 {
	font-size: $font-size-lg;
	font-weight: $font-weight-bold;
	line-height: space(16);
}

h5 {
	font-size: $font-size-md;
	font-weight: $font-weight-bold;
	line-height: space(14);
}

h6 {
	font-size: $font-size-sm;
	font-weight: $font-weight-normal;
	line-height: space(12);
}

p {
	font-size: $font-size-lg;
	font-weight: $font-weight-normal;
	line-height: space(16);
}

a {
	text-decoration: none;
	line-height: space(14);
}

ul,
li {
	list-style: none;
}
